.task-empty {
    padding-left: 7px;
    padding-right: 7px;
}

.schedule-button {
    float: right;
}

.schedule-button > a {
   text-decoration: none;
   color : darkslateblue;
}

.resume-social-networks-icons {
    height:3em;
    width:auto;
}


.edit-task-name-image {
    width:2em;
    height:auto;
}

.task-resume {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.show-tasks-button {
    float: right;
    width: 3em;
    height: 2em;
}

.resume-social-network {
    padding: 0.2em 0 0.2em 0;
    width:100%;
    min-width:20vw;
}

.resume-social-network > img {
    height:3em;
    width:auto;
    vertical-align: middle;
}

.float-right {
    float:right;
    margin-left: 1em;
    border:1px solid gray;
    background-color: lightgray;
    border-radius: 2px;
}

.resume-expand-logo {
    width:100%;
    margin-top: 1em;
}

.task-expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-expanded > form {
    margin-top: 1em;
    border: 1px solid gray;
    padding:0.3em;
}

.task-block {
    display: inline-block;
    margin: 2vw;
    background-color: whitesmoke;
    border-radius: 10px;
}

.task-field {
    width: 100%;
    resize : vertical;
}

.task-image {
    border-bottom: 1px solid cornflowerblue;
}

.period-selecter {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    width: max-content;
    border-radius: 5px;
}

.round-span {
    display: block;
    width: 3em;
    height: 3em;
    line-height: 2em;
    border-radius: 50%;
    padding: 7px;
    margin: 2px;
    text-align: center;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: small;
    background-color: lightsteelblue;
    cursor: pointer;
}

.round-span > p {
    text-align: center;

}

.time-task-form {
    width:100%;
}


.twitter-task-block {
    background-color: #A3D9FA;
}

.twitter-task-message {
    background-color: #DEEDFE;
}

.facebook-task-block {
    background-color: #71B4FD;
}

.facebook-task-message {
    background-color: #CDE4FE;
}

.instagram-task-block {
    background-color: #E7A5DA;
}

.instagram-task-message {
    background-color: #F7DDF1;
}

.form-submit-button {
    float:right;
}