<div class="twitter-task-block" id="twitter-{{ task.task_id }}-task-block" style="display: block">
    <div class="resume-social-network" onclick="showHideThisTask({{task.task_id}}, 'twitter')">
        <img src="/static/images/social_networks/twitter.svg" alt="twitter">
        <img onclick="unactiveSocialNetwork({{task.task_id}}, 'twitter')" class="float-right" src="/static/images/close.svg" alt="remove twitter">
        <img class="float-right" src="/static/images/expand.svg" alt="expand">
    </div>
    <div id="twitter-{{ task.task_id }}-parameters" style="display:block">
        <input id="twitter-{{ task.task_id }}-ActivationFlag" type="hidden" name="twitter-activated" value="False">
        <textarea name=twitter-message
                  class="task-field twitter-task-message">{{ task.twitter.message }}</textarea>
        <input
                id="twitter-{{ task.task_id }}-images-input"
                class="task-field"
                type=file multiple="" name="twitter-files[]"
                onchange="updateImagesList('twitter', '{{ task.task_id }}')">
        <br>
        <button type="button" id="remove-images-button" onclick="removeImagesFromList('twitter', '{{ task.task_id }}')">
            remove images
        </button>
        <div id="twitter-{{ task.task_id }}-images-list">
            {% for image in task.twitter.files %}
            <div class="task-image">{{ image }}</div>
            {% endfor %}
        </div>
    </div>
</div>