<form class="twitter-task-form" enctype="multipart/form-data" method="post">
    <div id="twitter-{{ task.id }}-task-block">
        <div class="resume-social-network" onclick="showHideThisTask({{ task.id }}, 'twitter')">
            <img src="/static/images/social_networks/twitter.svg">
            <img formaction="/twitter/delete" class="float-right" src="/static/images/close.svg">
            <img class="float-right" src="/static/images/expand.svg">
        </div>
        <div id="twitter-{{ task.id }}-parameters" style="display:block">
            <textarea name=twitter-message class="task-field twitter-task-message">{{ task.twitter.message }}</textarea>
            <input
                id="twitter-{{ task.id }}-images-input"
                class="task-field"
                type=file multiple="" name="twitter-files[]"
                onchange="updateImagesList('twitter', '{{ task.id }}')">
                <button class=form-submit-button formaction="/twitter/save">save</button>
                <br>
            <button type="button" id="remove-images-button" onclick="removeImagesFromList('twitter', '{{ task.id }}')">remove images</button>
            <div id="twitter-{{ task.id }}-images-list">
                {% for image in task.twitter.imagesList %}
                    <div class="task-image">{{ image }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
