<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{baseURL}}/static/css/cubiAdmin.css">
    <link rel="stylesheet" href="{{baseURL}}/static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="{{baseURL}}/static/favicon.ico"/>
</head>
<body>

<script src="{{baseURL}}/static/js/cubiAdmin.js"></script>

    <div class=cubi-nav>
        <a class="button-nav button-home" href="/">Accueil</a>
    </div>

    <link rel="stylesheet" href="{{baseURL}}/static/css/style.css">

    <div class="pageContainer" id="container">
    <form action="/cubi/login" method="post" id="formLogin">
        <div style="display:block; padding-left:40%; padding-top:10%;">
            <h3>Connexion</h3>
            <label for="identifiantAreaId"></label>
            <input
                    type="text" class="identifiantArea"
                    id="identifiantAreaId" name="identifiant"
                    placeholder="Identifiant" autocomplete="current-password"
            />
            <br>
            <br>
            <label for="passwordAreaId"></label>
            <input
                    type="password" class="passwordArea"
                    id="passwordAreaId" name="password"
                    placeholder="Password" autocomplete="username"
            />
            <br>
            <br>
            <input class="loginBtn" type="submit" value="connexion"/>
        </div>
    </form>
</div>

<div class="footer">Made with <a href="https://github.com/Aqueuse/ours-agile-cubi">Cubi</a></div>

</body>
</html>