{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{baseURL}}static/css/home.css">
{% endblock %}

{% block content %}
    <div class="welcome-message-container">
        <div class="welcome-message">
        <p>Welcome to Multipass, a free Social Share programming application</p>
        </div>
    </div>

    <div class="description-blocks-container">
        <div class="description-block">
            <img class="description-image" src="{{baseURL}}static/images/fusee.svg" alt="fusee">
            <p>Program your posts</p>
        </div>
        <div class="description-block">
            <img class="description-image" src="{{baseURL}}static/images/upload.svg" alt="upload">
            <p>Easily add images to your posts</p>
        </div>
        <div class="description-block">
            <img class="description-image" src="{{baseURL}}static/images/statistiques.svg" alt="statistiques">
            <p>save a resume of your activity</p>
        </div>
    </div>
{% endblock %}
