{% extends "base.html" %}

{% block navigation %}{% endblock %}

{% block content %}
    <div class="pageContainer" id="container">
    <form action="/login" method="post" id="formLogin">
        <div class="login">
            <h3>Connexion</h3>
            <label for="emailAreaId"></label>
            <input
                    type="text" class="identifiantArea"
                    id="emailAreaId" name="email"
                    placeholder="email" autocomplete="email"
            />
            <br>
            <br>
            <label for="passwordAreaId"></label>
            <input
                    type="password" class="passwordArea"
                    id="passwordAreaId" name="password"
                    placeholder="Password" autocomplete="current-password"
            />
            <br>
            <br>
            <input class="loginBtn" type="submit" value="connexion"/>
        </div>
    </form>
</div>
{% endblock %}