<div class="task-block">
    <div class=task-resume>
        <form class=time-task-form enctype="multipart/form-data" method="post">
            <input type="hidden" name="task_id" value="0">
            <div style="display: flex; flex-direction: row">
                <a class=task-field id="task-0-name-a" style="display: block">new task</a>
                <textarea id="task-0-name-area" class="task-field" style="resize: none; display: none" wrap="off"
                                                                placeholder="task name" name="taskname">new task</textarea>
                <img class="edit-task-name-image" onclick="editTaskname(0)" src="/static/images/pen.svg" alt="edit taskname">
                <button id="0-save-button" type="submit" formaction="task/update" style="display : none">save</button>
            </div>
            <input type=datetime-local name=date value="2022-01-14T20:38">
            <label>Repetition :
                <select id="0-repetition" name="repetition_frequency" onchange="showPeriods('0')">
                    <option value="daily" selected>current : daily</option>
                    <option value="daily">daily</option>
                    <option value="weekly">weekly</option>
                    <option value="monthly">monthly</option>
                    <option value="custom">custom</option>
                </select>
            </label>
            <div class="period-selecter">
                <div style="display:none;" id="0-months">
                    <span style="background-color: lightsteelblue" id="0-span-JAN" class="round-span"
                          onclick="switchElement('0', 'months', 'JAN')">JAN</span>
                    <span style="background-color: lightsteelblue" id="0-span-FEB" class="round-span"
                          onclick="switchElement('0', 'months', 'FEB')">FEB</span>
                    <span style="background-color: lightsteelblue" id="0-span-MAR" class="round-span"
                          onclick="switchElement('0', 'months', 'MAR')">MAR</span>
                    <span style="background-color: lightsteelblue" id="0-span-APR" class="round-span"
                          onclick="switchElement('0', 'months', 'APR')">APR</span>
                    <span style="background-color: lightsteelblue" id="0-span-MAY" class="round-span"
                          onclick="switchElement('0', 'months', 'MAY')">MAY</span>
                    <span style="background-color: lightsteelblue" id="0-span-JUN" class="round-span"
                          onclick="switchElement('0', 'months', 'JUN')">JUN</span>
                    <span style="background-color: lightsteelblue" id="0-span-JUL" class="round-span"
                          onclick="switchElement('0', 'months', 'JUL')">JUL</span>
                    <span style="background-color: lightsteelblue" id="0-span-AUG" class="round-span"
                          onclick="switchElement('0', 'months', 'AUG')">AUG</span>
                    <span style="background-color: lightsteelblue" id="0-span-SEP" class="round-span"
                          onclick="switchElement('0', 'months', 'SEP')">SEP</span>
                    <span style="background-color: lightsteelblue" id="0-span-OCT" class="round-span"
                          onclick="switchElement('0', 'months', 'OCT')">OCT</span>
                    <span style="background-color: lightsteelblue" id="0-span-NOV" class="round-span"
                          onclick="switchElement('0', 'months', 'NOV')">NOV</span>
                    <span style="background-color: lightsteelblue" id="0-span-DEC" class="round-span"
                          onclick="switchElement('0', 'months', 'DEC')">DEC</span>
                    <input id="0-task-months" type=hidden name="months" value="JAN">
                </div>
            </div>
            <div class="period-selecter">
                <div style="display:none;" id="0-days">
                    <label><span style="background-color: lightsteelblue" id="0-span-MO" class="round-span"
                                 onclick="switchElement('0', 'days', 'MO')">MO</span></label>
                    <label><span style="background-color: lightsteelblue" id="0-span-TU" class="round-span"
                                 onclick="switchElement('0', 'days', 'TU')">TU</span></label>
                    <label><span style="background-color: lightsteelblue" id="0-span-WE" class="round-span"
                                 onclick="switchElement('0', 'days', 'WE')">WE</span></label>
                    <label><span style="background-color: lightsteelblue" id="0-span-TH" class="round-span"
                                 onclick="switchElement('0', 'days', 'TH')">TH</span></label>
                    <label><span style="background-color: lightsteelblue" id="0-span-FR" class="round-span"
                                 onclick="switchElement('0', 'days', 'FR')">FR</span></label>
                    <label><span style="background-color: lightsteelblue" id="0-span-SA" class="round-span"
                                 onclick="switchElement('0', 'days', 'SA')">SA</span></label>
                    <label><span style="background-color: lightsteelblue" id="0-span-SU" class="round-span"
                                 onclick="switchElement('0', 'days', 'SU')">SU</span></label>
                    <input id="0-task-days" type=hidden name="days" value="MO">
                </div>
            </div>
            <div style="display:inline-block">
                <a> + <img class="resume-social-networks-icons" onclick="activeSocialNetwork(0, 'facebook')"
                           src="/static/images/social_networks/facebook.svg" alt="add facebook"></a>
                <a> + <img class="resume-social-networks-icons" onclick="activeSocialNetwork(0, 'twitter')"
                           src="/static/images/social_networks/twitter.svg"  alt="add twitter"></a>
                <a> + <img class="resume-social-networks-icons" onclick="activeSocialNetwork(0, 'instagram')"
                           src="/static/images/social_networks/instagram.svg"  alt="add instagram"></a>
            </div>
            <div class="resume-expand-logo">
                <button type="button" class="show-tasks-button" id="task-0-button" onclick="showHideAllTasks('0')">◁
                </button>
                <div id="resume-social-networks-icons" style="display:block;">
                </div>
            </div>
            <br><br>
            <div id="task-0-expanded" class="task-expanded" style="display: none">
                <div class="facebook-task-block" id="facebook-0-task-block" style="display: none">
                    <div class="resume-social-network" onclick="showHideThisTask(0, 'facebook')">
                        <img src="/static/images/social_networks/facebook.svg" alt="facebook logo">
                        <img onclick="unactiveSocialNetwork(0, 'facebook')" class="float-right" src="/static/images/close.svg" alt="remove facebook">
                        <img class="float-right" src="/static/images/expand.svg" alt="expand">
                    </div>
                    <div id="facebook-0-parameters" style="display:block">
                        <input id="facebook-0-ActivationFlag" type="hidden" name="twitter-activated" value="False">
                        <textarea name=facebook-message
                                  class="task-field facebook-task-message">my message on Facebook</textarea>
                        <input
                                id="facebook-0-images-input"
                                class="task-field"
                                type=file multiple="" name="facebook-files[]"
                                onchange="updateImagesList('facebook', '0')">
                        <br>
                        <button type="button" id="facebook-remove-images-button" onclick="removeImagesFromList('facebook', '0')">
                            remove images
                        </button>
                        <div id="facebook-0-images-list">
                        </div>
                    </div>
                </div>
                <div class="twitter-task-block" id="twitter-0-task-block" style="display: none">
                    <div class="resume-social-network" onclick="showHideThisTask(0, 'twitter')">
                        <img src="/static/images/social_networks/twitter.svg" alt="twitter">
                        <img onclick="unactiveSocialNetwork(0, 'twitter')"
                             class="float-right" src="/static/images/close.svg" alt="remove twitter">
                        <img class="float-right" src="/static/images/expand.svg" alt="expand">
                    </div>
                    <div id="twitter-0-parameters" style="display:block">
                        <input id="twitter-0-ActivationFlag" type="hidden" name="twitter-activated" value="False">
                        <textarea name=twitter-message
                                  class="task-field twitter-task-message">My message on Twitter</textarea>
                        <input
                                id="twitter-0-images-input"
                                class="task-field"
                                type=file multiple="" name="twitter-files[]"
                                onchange="updateImagesList('twitter', '0')">
                        <br>
                        <button type="button" id="twitter-remove-images-button" onclick="removeImagesFromList('twitter', '0')">
                            remove images
                        </button>
                        <div id="twitter-0-images-list">
                        </div>
                    </div>
                </div>
                <div class="instagram-task-block" id="instagram-0-task-block" style="display: none">
                    <div class="resume-social-network" onclick="showHideThisTask(0, 'instagram')">
                        <img src="/static/images/social_networks/instagram.svg" alt="instagram">
                        <img onclick="unactiveSocialNetwork(0, 'instagram')"
                             class="float-right" src="/static/images/close.svg" alt="remove instagram">
                        <img class="float-right" src="/static/images/expand.svg" alt="expand">
                    </div>
                    <div id="instagram-0-parameters" style="display:block">
                        <input id="instagram-0-ActivationFlag" type="hidden" name="twitter-activated" value="False">
                        <textarea name=instagram-message class="task-field instagram-task-message">My message on instagram</textarea>
                        <input
                                id="instagram-0-images-input"
                                class="task-field"
                                type=file multiple="" name="instagram-files[]"
                                onchange="updateImagesList('instagram', '0')">
                        <br>
                        <button type="button" id="instagram-remove-images-button"
                                onclick="removeImagesFromList('instagram', '0')">remove images
                        </button>
                        <div id="instagram-0-images-list">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>